@{
    ViewData["Title"] = "Home Page";
}

@model List<Books>

    <div class="bg-primary text-white p-2">
        <span class="navbar-brand m-lg-2">OG Book DB</span>
    </div>

    <div class="text-center">
        <h1 class="display-4">Welcome to the OG Book DB</h1>
    </div>

@foreach (Books b in Model)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
    <br />
}

@*<div page-blah="@Model.PageInfo" page-action="Index"></div>*@