<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>
    <tbody>
        @if (ContactInfo?.Count() > 0)
        {
            foreach (ContactInfo ci in ContactInfo)
            {
                <tr>
                    <td>@ci.FirstName</td>
                    <td>@ci.LastName</td>
                    <th>Book</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(ci.ContactId))">@ButtonLabel</button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in ci.Lines)
                { 
                    <tr>
                        <td colspan="2"></td>
                        <td>@bli.Book.Title</td>
                        <td>@bli.Quantity</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Not Yet Shipped";

    [Parameter]
    public IEnumerable<ContactInfo> ContactInfo { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}
